/* Filter & Search Section */
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--card-bg-light);
    border: 1px solid var(--border-color-light);
    border-radius: 8px;
}

body.dark-mode .filter-container {
    background-color: var(--card-bg-dark);
    border-color: var(--border-color-dark);
}

.search-wrapper {
    flex-grow: 1;
}

#search-input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--border-color-light);
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    font-size: 1rem;
}

body.dark-mode #search-input {
    border-color: var(--border-color-dark);
    background-color: #333;
    color: var(--text-color-dark);
}

.price-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-filter input[type="number"] {
    width: 120px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--border-color-light);
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

.price-filter input::-webkit-outer-spin-button,
.price-filter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-filter input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

body.dark-mode .price-filter input[type="number"] {
    border-color: var(--border-color-dark);
    background-color: #333;
    color: var(--text-color-dark);
}

#no-results {
    color: var(--text-color-light);
    display: none;
    text-align: center;
    margin-top: 40px;
}

body.dark-mode #no-results {
    color: var(--text-color-dark);
}